@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins Regular';
  src: url('fonts/Poppins-Regular.ttf') format('truetype');
  font-family: 400;
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins SemiBold';
  src: url('fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}

input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: 'Poppins Regular', sans-serif;
}

.bg-inherit {
  background-color: inherit;
}

/* Setup fonts */

/* Scrollbar */

::-webkit-scrollbar {
  /* Customize the scrollbar width */
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
}
